@import "./utils/variables";
@import "./utils/visually-hidden";

@import "./base/common";
@import "./base/section";
@import "./base/container";

@import "./components/modal-window";
@import "./components/logo";
@import "./components/social-list";

@import "./layout/page-header";
@import "./components/mobile-menu";
@import "./layout/hero";
@import "./layout/advantages";
@import "./layout/works";
@import "./layout/team";
@import "./layout/clients";
@import "./layout/portfolio-projects";
@import "./layout/footer";
