.project-card__title {
  margin-bottom: 4px;

  color: var(--secondary-text-color-dark);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;

    gap: 30px;
    justify-content: space-between;
  }
}

.project-card {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 354px;
  }
}

.project-card:not(:last-child) {
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.project-card__link {
  display: block;
  color: inherit;

  transition: box-shadow var(--transition-param);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);

    cursor: pointer;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}

.project-card__image {
  display: block;
  width: 100%;
}

.project-card__bottom {
  padding: 20px 24px;

  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-grow: 1;
  }
}

.project-card__subtitle {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.project-card__description {
  position: relative;
  overflow: hidden;
}

.project-card__text {
  position: absolute;
  top: 0;
  left: 0;

  transform: translate(0%, 101%);

  padding: 64px 23px;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);

  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.56em;
  letter-spacing: 0.03em;

  color: var(--secondary-accent-color-light);

  overflow: auto;

  transition: transform var(--transition-param);

  .project-card__link:hover &,
  .project-card__link:focus & {
    transform: translate(0%, 0%);
  }
  &::-webkit-scrollbar {
    width: 0.5em;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(185, 96, 203);
    border-radius: 5px;
  }
}

.button-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 15px;

  margin-bottom: 50px;

  @media screen and (min-width: 768px) {
    justify-content: center;
    column-gap: 8px;
    flex-wrap: wrap;
  }
}

.button {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;

  color: var(--secondary-text-color-dark);
  background-color: var(--section-two-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  transition: background-color var(--transition-param),
    color var(--transition-param), box-shadow var(--transition-param);

  &:hover,
  &:focus {
    color: var(--secondary-accent-color-light);
    background-color: var(--accent-color);

    cursor: pointer;

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.button-all {
  padding: 6px 25px;
  min-width: 73px;
}
