.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;

  transition: opacity var(--transition-param),
    visibility var(--transition-param);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;

  min-width: 450px;
  min-height: 609px;

  background-color: #fff;
  opacity: 1;

  transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 750ms cubic-bezier(0.4, 0, 0.2, 1);

  .backdrop.is-hidden & {
    transform: translate(-50%, 100%);
    opacity: 0;
  }

  @media screen and (min-width: 1200px) {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal__button-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  width: 30px;
  height: 30px;

  fill: #000000;
  border: 1px solid #0000001a;
  border-radius: 50%;
  background-color: transparent;

  transition: border-color var(--transition-param), fill var(--transition-param);

  &:hover,
  &:focus {
    cursor: pointer;
    fill: var(--accent-color);
    border-color: var(--accent-color);
  }
}

/* ----------------FORM------------------- */

.form {
  display: flex;
  flex-direction: column;
}

.form__title {
  margin-bottom: 12px;
  text-align: center;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15em;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color-dark);
}

.field {
  margin-bottom: 10px;
}

.field__input {
  padding-left: 42px;

  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-param);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.field__description {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.167em;
  letter-spacing: 0.01em;
}

.field__wrapper {
  position: relative;
  display: block;
}

.field__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);

  display: block;

  fill: var(--secondary-text-color-dark);

  transition: fill var(--transition-param);

  .field__input:focus + & {
    fill: var(--accent-color);
  }
}

.field-comment {
  margin-bottom: 20px;
}

.field-comment__description {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.167em;
  letter-spacing: 0.01em;
}

.field-comment__textarea {
  display: block;
  padding: 12px 16px;
  resize: none;
  height: 120px;
  width: 100%;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-param);

  &::placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.167em;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);

    @media screen and (min-width: 1200px) {
      font-size: 12px;
    }
  }

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.field-conditions {
  display: flex;
  /* gap: 7px; */
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;

  font-size: 12px;
  line-height: 1.71em;

  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.field-conditions__link {
  color: var(--accent-color);
}

.field-conditions__checkbox {
  border: 2px solid;
  border-color: var(--secondary-text-color-dark);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 7px;
  transition: border var(--transition-param), fill var(--transition-param);

  .field-conditions__input:checked + & {
    fill: var(--accent-color);
    border: none;
  }
}

.field-conditions__icon {
  fill: #fff;
  /* display: none; */
  opacity: 0;
  transition: opacity var(--transition-param);

  .field-conditions__input:checked + .field-conditions__checkbox & {
    /* display: block; */
    opacity: 1;
  }
}

.form__button {
  padding: 10px 52px;
  min-width: 200px;
  border: none;
  border-radius: 4px;
  align-self: center;

  color: var(--secondary-accent-color-light);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  font-family: inherit;

  transition: background-color var(--transition-param);

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: var(--hero-button-active);
  }
}
