:root {
  /* text colors*/
  --primary-text-color: #757575;
  --secondary-text-color-dark: #212121;
  --logo-text-color-black: #000000;
  --contact-details-color: rgba(255, 255, 255, 0.6);
  /* page colors */
  --main-page-color: #f5f5f5;
  --accent-color: #2196f3;
  --secondary-accent-color-light: #ffffff;
  --additional-page-color: #2f303a;
  --section-two-color: #f5f4fa;
  /* elements colors */
  --hero-button-active: #188ce8;
  --line-header-color: #ececec;
  --clients-border-color: #afb1b8;
  /* animation param */
  --transition-param: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
